<% layout("/layouts/boilerplate") %>
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit</title>
	</head>
	<body>
		<h3>Update Listing</h3>
		<div class="row edit_main">
			<form
				method="post"
				action="/listings/<%=listing.id%>?_method=PUT"
				class="edit_form"
			>
				<div>
					<label for="title">Title</label>
					<input
						type="text"
						name="listing[title]"
						class="form-control"
						value="<%=listing.title%>"
					/>
				</div>

				<div>
					<label for="description">Description</label>
					<textarea
						type="text"
						name="listing[description]"
						class="form-control"
					>
<%=listing.description%></textarea
					>
				</div>

				<div>
					<label for="image">Image</label>
					<input
						type="text"
						name="listing[image]"
						value="<%=listing.image%>"
						class="form-control"
					/>
				</div>

				<div>
					<label for="price">Price</label>
					<input
						type="text"
						name="listing[price]"
						value="<%=listing.price%>"
						class="form-control"
					/>
				</div>

				<div>
					<label for="location">Location</label>
					<input
						type="text"
						name="listing[location]"
						value="<%=listing.location%>"
						class="form-control"
					/>
				</div>
				<div>
					<label for="country">Country</label>
					<input
						type="text"
						name="listing[country]"
						value="<%=listing.country%>"
						class="form-control"
					/>
				</div>

				<button class="btn btn-dark" style="margin-top: 1rem">Edit</button>
			</form>
		</div>
	</body>
</html>
